# .gitignore
# 首先忽略所有的文件
*
# 但是不忽略目录
!*/
# 忽略一些指定的目录名
ut/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]uild/
CMakeFiles/
config/
Win32/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# 不忽略下面指定的文件类型
!*.c++
!*.cc
!*.cp
!*.cpp
!*.cxx
!*.h
!*.h++
!*.hh
!*.hp
!*.hpp
!*.hxx
!*.C
!*.H
!*.c
!*.vcxproj
!*.filters
!*.sln
!*.user
!*.md

!*.gitignore
!*.gitattributes




